/*Custom CSS */
.navbar-custom {
  background: #FFFFFF;
}
.row {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
}
.footer-row {
  text-align: center;
  vertical-align: top;
}
i.icon-ruby.fa-5x {
    vertical-align: top;
}
i.icon-csharp.fa-5x {
    vertical-align: top;
}
.home-header {
    background: url("http://newmedia77.github.io/newmediasite/img/header-bg.jpg");
    background-size: cover;
    color: white;
    text-shadow: 1px 0 4px #444;
    background-position: center top;
    padding-top: 180px;
    padding-bottom: 150px;
    background-attachment: scroll;
    margin-top: -120px;
    position: relative;
}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
aside.clients {
  text-align: center;
}
.text-primary {
    color:#444444;
}
 /* Custom Styles */
.container-services {
    height: 200px;
    background: #FFA500;
    color: #FFFFFF;
    padding: 10px;
 }
 .affix {
      top: 20px;
  }
  ul.nav.nav-pills.nav-stacked.affix {
    top: 50px;
    width: 280px;
}
.posts-list {
  padding: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #444444;
}
.nav-pills>li>a {
  background-color: #FFEBB2;
}
li {
  list-style-type: none;
}

/*Services*/

.creative-section {
    margin-top: -20px;
}

.service-tab{
    position: relative;
}

.service-tab .nav-tabs{
    border-bottom: 0;
}

.service-tab li {
    position: relative;
    text-align: center;
    border-right: 1px solid #b9b9b9;
    padding:0;
}

.service-tab li > a{
    padding:40px;
    background-color: #f5f5f5;
    color:#000000;
    border:0;
    width: 100%;
}

.service-tab .nav-tabs>li.active>a, 
.service-tab .nav-tabs>li.active>a:focus, 
.service-tab .nav-tabs>li.active>a:hover{
    border:0;
    background-color: #ffffff;
}

.nav-tabs.nav-justified>li>a{
    border:0;
    border-radius: 0;
}

.nav-tabs.nav-justified>.active>a, 
.nav-tabs.nav-justified>.active>a:focus, 
.nav-tabs.nav-justified>.active>a:hover{
    border:0;
}

.service-tab li:first-child {
    border-left: 1px solid #b9b9b9;
}

.service-tab li i:before{
    font-size: 30px;
    color:#202020;
}

.service-tab li.active i:before,
.service-tab li:hover i:before{
    color:#FFA500;
}

.service-tab li span{
    display:block;
    font-size: 18px;
    color:#202020;
}

.service-tab li.active:after,
.service-tab li:hover:after {
    content:"";
    border-bottom:3px solid #FFA500;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}

.service-tab .tab-content{
    margin-top:50px;
}

.creative-section h2 {
    font-weight: 700;
    margin-bottom: 45px;
    position: relative;
}
.creative-section h2::after {
    content: "";
    background-color: #FFA500;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -16px;
}
.creative-section .btn {
    margin-top: 42px;
}

.mac-screenshot {
    padding-top: 60px;
}
.mac-screenshot img{
    width: inherit;
}



  /* === SERVICES SECTION === */
  .sbox-gutter:nth-child(2),
  .sbox-gutter:nth-child(4),
  .sbox-gutter:nth-child(6) {
      border-right: 0;
  }
  .sbox-gutter:nth-child(3) {
    border-right: 1px solid #dedede;
  }
  .sbox-gutter:nth-child(4) {
    border-bottom: 1px solid #dedede;
  }

  

  /*cta-two-section*/
  .cta-two-section .btn {
      padding: 14px 30px;
  }


/* =-=-=-=-=-=-= Service Section =-=-=-=-=-=-= */

.services-section {}
.sbox-gutter {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.sbox-gutter:nth-child(3),
.sbox-gutter:nth-child(6) {
    border-right: 0;
}
.sbox-gutter:nth-child(4),
.sbox-gutter:nth-child(5),
.sbox-gutter:nth-child(6) {
    border-bottom: 0;
}
.sbox-gutter:hover {
    background-color: #FFA500;
}

.sbox-gutter,
.sbox-gutter i::before,
.sbox-gutter h3,
.sbox-gutter p {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.sbox-gutter:hover i::before,
.sbox-gutter:hover h3,
.sbox-gutter:hover p {
    color: #fff;
}

.service-box {
    padding: 30px 15px;
}
.service-box i::before { 
    font-size: 40px;
    margin-bottom: 20px;
    color: #444444;
}
.service-box h3 { 
    color: #FFA500;
    font-weight: 700;
    margin-bottom: 20px;
}
.service-box p { 
    line-height: 22px;
}


/* =-=-=-=-=-=-= Responsive preview section =-=-=-=-=-=-= */

.website-optimization {}
.website-optimization h2{
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.website-optimization h2 span{
    display: block;
    font-size: 45px;
    color: #FFA500;
}

.website-optimization p{
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 35px;
}

.website-optimization img {
    width: initial;
}
/* =-=-=-=-=-=-= Process Section =-=-=-=-=-=-= */

.process-section {
  background: url(../images/process-bg.jpg) no-repeat #dedede;
  -webkit-background-size: cover;
  background-size: cover;
}
.process-box {
    background-color: #ff2a40;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.process-box i::before {
    font-size: 30px;
}
.process-box h3{
    font-size: 16px;
    line-height: 45px;
    color: #fff;
    margin: 0;
}








/* =-=-=-=-=-=-= Case study section =-=-=-=-=-=-= */

.case-study-section {
    color: #fff;
}
.case-study-left {
    background-color: #ffa500;
    padding: 60px 40px 60px 110px;
}
.case-study-right {
    background-color: #444444;
    padding: 60px 110px 60px 40px;
}
.case-study-section h1 {
    font-weight: 700;
    margin-bottom: 15px;
}
.case-study-section p {
    font-size: 18px;
    margin-bottom: 30px;
}
.case-study-section .btn {
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #fff;
}
.case-study-section .btn:hover {
    background-color: #fff;
    border-color: #fff;
}
.case-study-left .btn:hover {
    color: #ff2a40;   
}
.case-study-right .btn:hover {
    color: #2c3e50;
}

/* =-=-=-=-=-=-= Call to action section =-=-=-=-=-=-= */

.cta-two-section {
    padding: 74px 0;
    background-color: #ffa500;
    color: #fff;
}

.cta-two-section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    line-height: 27px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5px;
}
.cta-two-section p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 0;
}
.cta-two-section .btn {
    background-color: transparent;
    border-color: #fff;
    font-size: 16px;
}
.cta-two-section .btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #ffa500;
}

/* =-=-=-=-=-=-= Map Section =-=-=-=-=-=-= */

#myMap {
    height: 250px;
}
#mapcontent p{
    margin: 0;
    font-size: 16px;
}

/* =-=-=-=-=-=-= Contact Section =-=-=-=-=-=-= */

.contact-section {
    padding: 100px 0 150px;
}
.contact-section .btn{
    font-weight: 600;
    min-width: 350px;
    border-radius: 30px;
    background-color: #ff2a40;
    border-color: #ff2a40;
}
.contact-section .btn:hover{
    background-color: #C02232;
    border-color: #C02232;
}
/* Footer page up */

.backToTop i{
    font-size: 65px;
    line-height: 60px;
    color: #444;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -39px;
    left: 50%;
    margin-left: -50px;
    border: 3px solid #d2d2d2;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.backToTop i:hover{
    background: #444444;
    color: #ffffff;
}
/* footer container */
.container.appx-footer{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.footer-section {
    color: #fff;
    position: relative;
}


