/*Custom CSS */
.navbar-custom {
  background: #FFFFFF;
}
.row {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
}
.footer-row {
  text-align: center;
  vertical-align: top;
}
i.icon-ruby.fa-5x {
    vertical-align: top;
}
i.icon-csharp.fa-5x {
    vertical-align: top;
}
.home-header {
    background: url("http://newmedia77.github.io/newmediasite/img/header-bg.jpg");
    background-size: cover;
    color: white;
    text-shadow: 1px 0 4px #444;
    background-position: center top;
    padding-top: 180px;
    padding-bottom: 150px;
    background-attachment: scroll;
    margin-top: -120px;
    position: relative;
}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
aside.clients {
  text-align: center;
}
.text-primary {
    color:#444444;
}
 /* Custom Styles */
.container-services {
    height: 200px;
    background: #FFA500;
    color: #FFFFFF;
    padding: 10px;
 }
 .affix {
      top: 20px;
  }
  ul.nav.nav-pills.nav-stacked.affix {
    top: 50px;
    width: 280px;
}
.posts-list {
  padding: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #444444;
}
.nav-pills>li>a {
  background-color: #FFEBB2;
}
li {
  list-style-type: none;
}



