/*Custom CSS */
.navbar-custom {
  background: #FFFFFF;
}
.row {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
}
.footer-row {
	text-align: center;
	vertical-align: top;
}
i.icon-ruby.fa-5x {
    vertical-align: top;
}
i.icon-csharp.fa-5x {
    vertical-align: top;
}
.home-header {
    margin-bottom: 20px;
    background: url("http://newmedia77.github.io/newmediasite/img/header-bg.jpg");
    background-size: cover;
    color: white;
    text-shadow: 1px 0 4px #444;
    background-position: center top;
    padding-top: 180px;
    padding-bottom: 150px;
    background-attachment: scroll;
    margin-top: -120px;
    position: relative;
}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
aside.clients {
  text-align: center;
}
.text-primary {
    color:#444444;
}
 /* Custom Styles */
.container-services {
    height: 200px;
    background: #FFA500;
    color: #FFFFFF;
    padding: 10px;
 }
 .affix {
      top: 20px;
  }
  ul.nav.nav-pills.nav-stacked.affix {
    top: 50px;
    width: 280px;
}
.posts-list {
  padding: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #444444;
}
.nav-pills>li>a {
  background-color: #FFEBB2;
}
li {
  list-style-type: none;
}

/*Services

.creative-section {
    padding: 0 0 100px;
}

.service-tab{
    position: relative;
}

.service-tab .nav-tabs{
    border-bottom: 0;
}

.service-tab li {
    position: relative;
    text-align: center;
    border-right: 1px solid #b9b9b9;
    padding:0;
}

.service-tab li > a{
    padding:40px;
    background-color: #f5f5f5;
    color:#000000;
    border:0;
    width: 100%;
}

.service-tab .nav-tabs>li.active>a, 
.service-tab .nav-tabs>li.active>a:focus, 
.service-tab .nav-tabs>li.active>a:hover{
    border:0;
    background-color: #ffffff;
}

.nav-tabs.nav-justified>li>a{
    border:0;
    border-radius: 0;
}

.nav-tabs.nav-justified>.active>a, 
.nav-tabs.nav-justified>.active>a:focus, 
.nav-tabs.nav-justified>.active>a:hover{
    border:0;
}

.service-tab li:first-child {
    border-left: 1px solid #b9b9b9;
}

.service-tab li i:before{
    font-size: 30px;
    color:#202020;
}

.service-tab li.active i:before,
.service-tab li:hover i:before{
    color:#ff2a40;
}

.service-tab li span{
    display:block;
    font-size: 18px;
    color:#202020;
}

.service-tab li.active:after,
.service-tab li:hover:after {
    content:"";
    border-bottom:10px solid #ff2a40;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}

.service-tab .tab-content{
    margin-top:50px;
}

.creative-section h2 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 45px;
    position: relative;
}
.creative-section h2::after {
    content: "";
    background-color: #ff2a40;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -16px;
}
.creative-section .btn {
    margin-top: 42px;
}

.mac-screenshot {
    padding-top: 60px;
}
.mac-screenshot img{
    width: inherit;
}
*/

/* Responsive */

/* Extra small devices (phones, less than 768px) */
@media (max-width : 766px) {
  /*home-carousel*/
  #tt-home-carousel .controls li{
    padding:30px 10px;
  }
  #tt-home-carousel .controls li span{
    display:none;
  }
  #tt-home-carousel .carousel-caption {
    margin-top: -80px;
  }

  #tt-home-carousel .carousel-caption h1 {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0px;
    margin-bottom: 0; 
  }
  #tt-home-carousel .carousel-caption p {
    font-size: 10px;
    margin-bottom: 15px;
  }
  #tt-home-carousel .carousel-caption .btn {
    font-size: 14px;
    padding: 10px 30px;
  }


  /* === Creative Section === */
  .mac-screenshot img,
  .responsive-screenshot img{
    margin: 0 auto;
  }



  /* === SERVICE SECTION === */
  .service-tab li > a{
    padding: 20px 10px;
  }

  .service-tab li span{
    display: none;
  }

  /* === PORTFOLIO SECTION === */
  .nav-tabs.nav-justified>li{
    display: table-cell;
    width: 1%;
  }

  /*About us section*/
  .creative-skills {
    margin-bottom: 30px;
  }
  /*cta-two-section*/
  .cta-two-section .btn {
      padding: 14px 30px;
  }
  /*process-box */
  .process-box {
    margin-bottom: 30px;
  }
  /*quote-carousel*/
  #quote-carousel .carousel-indicators {
    bottom: -45px;
    left: 40%;
    width: 90%;
    margin-left: -35%;
  }
  #quote-carousel .carousel-control {
    bottom: 0px;
  }
  #quote-carousel .carousel-control.left {
    left: 0;
  }
  #quote-carousel .carousel-control.right {
    right: 0;
  }
  /*case-study*/
  .case-study-left {
    padding: 60px 25px 60px 25px;
  }
  .case-study-right {
    padding: 60px 25px 60px 25px;
  }
  /*contact-section*/
  .contact-section .btn {
    min-width: 270px;
  }
  .social-icon li {
    margin-bottom: 10px;
  }


  /* === SERVICES SECTION === */
  .sbox-gutter {
      border: 0;
  }
  /* === PORTFOLIO SECTION === */
  .portfolio-container ul#grid li{
      width: 100%;
  }
  /*team sction*/
  .team-thumb {
    margin-bottom: 30px;
  }
  /*call to action two*/
  .cta-two-section .btn {
    display: block;
    margin-top: 20px;
  }

  /* === about-section === */
  .video-wrap iframe {
    height: 160px;
    margin-top: 20px;
  }

}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {

  /* === HOME CAROUSEL === */
  #tt-home-carousel .controls li{
    padding:30px 10px;
  }

  #tt-home-carousel .controls li span{
    font-size: 14px;
    display:block;
  }
  #tt-home-carousel .carousel-caption {
    margin-top: -95px;
  }
  #tt-home-carousel .carousel-caption h1 {
    font-size: 33px;
    line-height: 56px;
  }
  #tt-home-carousel .carousel-caption p {
    font-size: 14px;
    margin-bottom: 25px;
  }

  /* === SERVICE SECTION === */
  .service-tab li > a{
    padding: 20px 10px;
    font-size: 14px;
  }

  .service-tab li span{
    display: block;
  }

  /* === PORTFOLIO SECTION === */
  .nav-tabs.nav-justified>li{
    display: table-cell;
    width: 1%;
  }

  /* === PORTFOLIO SECTION === */
  .portfolio-container ul#grid li{
      width: 50%;
  }
  .portfolio-item {
    min-height: 170px;
  }

  /* === about-section === */
  .video-wrap iframe {
    height: 330px;
  }



}


/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {

  /*navbar*/
  .navbar-default .navbar-nav>li>a {
    padding: 40px 12px;
  }
  .navbar-default.sticky .navbar-nav>li>a {
    padding: 20px 12px;
  }


  /*home-carousel*/
  #tt-home-carousel .controls li{
    padding:30px 10px;
  }
  #tt-home-carousel .carousel-caption {
    margin-top: -142px;
  }
  #tt-home-carousel .carousel-caption h1 {
    font-size: 60px;
    line-height: 44px;
    letter-spacing: -3px;
    margin-bottom: 30px;
  }

  /* === feature-section === */
  .feature-section .media{
    margin:0 0 40px;
  }


  /* === about-section === */
  .creative-skills {
    margin-bottom: 30px;
  }
  .video-wrap iframe {
    height: 200px;
  }

  /* === SERVICES SECTION === */
  .sbox-gutter:nth-child(2),
  .sbox-gutter:nth-child(4),
  .sbox-gutter:nth-child(6) {
      border-right: 0;
  }
  .sbox-gutter:nth-child(3) {
    border-right: 1px solid #dedede;
  }
  .sbox-gutter:nth-child(4) {
    border-bottom: 1px solid #dedede;
  }

  /* === PORTFOLIO SECTION === */
  .portfolio-container ul#grid li{
      width: 33%;
  }
  .portfolio-item {
    min-height: 180px;
  }

  /*cta-two-section*/
  .cta-two-section .btn {
      padding: 14px 30px;
  }

  /*process-box */
  .process-box {
    margin-bottom: 30px;
  }

  /*quote-carousel*/
  #quote-carousel .carousel-indicators {
    bottom: -45px;
  }
  #quote-carousel .carousel-control {
    bottom: 0px;
  }


  /*case-study*/
  .case-study-left {
    padding: 60px 25px 60px 25px;
  }
  .case-study-right {
    padding: 60px 25px 60px 25px;
  }
  

}




/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {

  /* === PORTFOLIO SECTION === */
  .portfolio-container ul#grid li{
      width: 25%;
  }
  .portfolio-item {
    min-height: 180px;
  }
  
  /* === about-section === */
  .video-wrap iframe {
    height: 260px;
  }

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width : 1200px) and (max-width : 1280px) {

  /* === PORTFOLIO SECTION === */
  .portfolio-item {
    min-height: 180px;
  }

}



/* Large devices (large desktops, 1200px and up) */
@media (min-width : 1920px) {

  /* === PORTFOLIO SECTION === */
  .portfolio-item {
    min-height: 275px;
  }

}