---
layout: home
title: London Web Development Services
subtitle: Hire Web Developer &amp; SEO Specialist in London
---
<!-- Creative Section -->
        <section class="creative-section">
            <div class="container">
                <div class="service-tab">
                  <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active col-xs-3">
                            <a href="#web-design" role="tab" data-toggle="tab">
                                <i class="fa fa-code"></i>
                                <span>Web Development</span>
                            </a>
                        </li>

                        <li class="col-xs-3">
                            <a href="#apps-design" role="tab" data-toggle="tab">
                                <i class="fa fa-mobile"></i>
                                <span>Mobile Apps</span>
                            </a>
                        </li>

                        <li class="col-xs-3">
                            <a href="#game-design" role="tab" data-toggle="tab">
                                <i class="fa fa-cart-plus"></i>
                                <span>eCommerce Development</span>
                            </a>
                        </li>

                        <li class="col-xs-3">
                            <a href="#creative-ideas" role="tab" data-toggle="tab">
                                <i class="fa fa-wrench"></i>
                                <span>Website Support</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- tab content for web development -->
                        <div class="row tab-pane fade in active" id="web-design">
                            <div class="col-sm-6">
                                <h2>Web Application Development</h2>
                                <p>Web application development services to enhance customer experience on your website.</p>

                                <p>Are you looking for a unique and custom built web application for eCommerce platforms such as Magento and Shopify, develop custom website solutions such as profiling tools and surveys, customer feedback forms etc</p>
                                <a href="#" class="btn btn-primary"><i class="fa fa-long-arrow-right"></i> Learn More</a>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="mac-screenshot">
                                    <img class="img-responsive" src="img/web-application-development-services.jpg" alt="Professional web application development services">
                                </div>
                            </div>
                        </div>

                        <!-- tab content for mobile application design -->
                        <div class="row tab-pane fade" id="apps-design">
                            <div class="col-sm-6">
                                <h2>Mobile App Development</h2>
                                <p>Cross platform mobile application development services available in London, UK. Our applications developers are highly qualified and dedicated to help you with designing and developing the mobile app that you are looking for.</p>

                                <p>We offer top quality mobile applicaton development with dedicated teams. </p>
                                <a href="#" class="btn btn-primary"><i class="fa fa-long-arrow-right"></i> Learn More</a>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="mac-screenshot">
                                    <img class="img-responsive" src="img/mobile-app-development-services.jpg" alt="Mobile app development services">
                                </div>
                            </div>
                        </div>

                        <!-- tab content for eCommerce Development -->
                        <div class="row tab-pane fade" id="game-design">
                            <div class="col-sm-6">
                                <h2>eCommerce Development</h2>
                                <p>We build eCommerce solutions backed by years of experience. Online shop development on Magento, Woocommerce. Shopify and Prestashop. </p>
                                <a href="#" class="btn btn-primary"><i class="fa fa-long-arrow-right"></i> Learn More</a>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="mac-screenshot">
                                    <img class="img-responsive" src="img/ecommerce.jpg" alt="eCommerce web development for Magento, Shopify, Drupal, Woocommerce">
                                </div>
                            </div>
                        </div>

                        <!-- tab content for creative idea -->
                        <div class="row tab-pane fade" id="creative-ideas">
                            <div class="col-sm-6">
                                <h2>Website Support</h2>
                                <p>Rank higher with website speed optimised. We build and configure website to run faster. Beat your competition and stay ahead. </p>
                                <a href="#" class="btn btn-primary"><i class="fa fa-long-arrow-right"></i> Learn More</a>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="mac-screenshot">
                                    <img class="img-responsive" src="img/website-support-website-speed-web-seo-services.jpg" alt="Website support such as website speed, website maintenance, website security patches, web backup and restore">
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.tab-content -->
                </div> <!-- /.service-tab -->
            </div><!-- /.container -->
        </section><!-- /.creative-section -->

<!-- Service Section -->
        <section id="services" class="services-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="section-title">What we do?</h2>
                        <p class="sub-title">Web Apps | Mobile Apps | Data Driven Websites | eCommerce Apps | Website Optimization</p>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->

                <div class="row row-content text-center">
                    <div class="col-md-4 col-sm-6 sbox-gutter">
                        <div class="service-box">
                            <i class="fa fa-code"></i>
                            <h3>Web App Development</h3>
                            <p>We develop mobile first and bespoke website applications to enhance customer experience, get feedbacks and increase online sales.</p>
                        </div><!-- /.service-box -->
                    </div><!-- /.col-sm-4 -->

                    <div class="col-md-4 col-sm-6 sbox-gutter">
                        <div class="service-box">
                            <i class="fa fa-mobile"></i>
                            <h3>Mobile App Development</h3>
                            <p>We develop IOS, Android and cross platform mobile applications focused on various business needs to enhance staff and customer experience.</p>

                        </div><!-- /.service-box -->
                    </div><!-- /.col-sm-4 -->

                    <div class="col-md-4 col-sm-6 sbox-gutter">
                        <div class="service-box">
                            <i class="fa fa-cart-plus"></i>
                            <h3>eCommerce Development</h3>
                            <p>We buid eCommerce solutions focused on Magento, Drupal, Shopify and Wordpress. We also specialise in developing custom plugins and widgets for these platforms.</p>
                        </div><!-- /.service-box -->
                    </div><!-- /.col-sm-4 -->

                    <div class="col-md-4 col-sm-6 sbox-gutter">
                        <div class="service-box">
                            <i class="fa fa-flash"></i>
                            <h3>Site Speed</h3>
                            <p>Rank higher with website speed optimised. We build and configure website to run faster. Beat your competition and stay ahead.</p>
                        </div><!-- /.service-box -->
                    </div><!-- /.col-sm-4 -->

                    <div class="col-md-4 col-sm-6 sbox-gutter">
                        <div class="service-box">
                            <i class="fa fa-cogs"></i>
                            <h3>Bespoke Development</h3>
                            <p>We specialise in bespoke design and development in Wordpress, Shopify, Drupal and other web platforms to give your web projects unique look and feel.</p>
                        </div><!-- /.service-box -->
                    </div><!-- /.col-sm-4 -->

                    <div class="col-md-4 col-sm-6 sbox-gutter">
                        <div class="service-box">
                            <i class="fa fa-search"></i>
                            <h3>Search Engine Optimization</h3>
                            <p>SEO services targeted at local searches, ecommerce websites, mobile searches. We also provide Social Media Marketing for Facebook and Twitter.</p>
                        </div><!-- /.service-box -->
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.services-section -->


        <!-- Website Optimizaiton Service -->
        <section class="website-optimization">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>Website Optimization <span class="big-text">for serious businesses</span></h2>
                        <p>We provide various website solutions such as:
                         <ul>
                            <li><i class="fa fa-check"></i>Site speed enhancement,</li>
                            <li><i class="fa fa-check"></i>Website content optimization,</li>
                            <li><i class="fa fa-check"></i>On-site optimiation,</li>
                            <li><i class="fa fa-check"></i>Off-site optimzation,</li>
                            <li><i class="fa fa-check"></i>Social Media management</li>
                        </ul></p>

                        <p>We have a dedicated team to help you with Search Engine Optimization (SEO), Social Media Marketing (SMM), Website Content Development, Web Content Marketing, Website Audit and  Website Consulting, Pay Per Click or PPC, Mobile Web Design and  Quality Inbound Links. To find out more simply <a href="{{ site.baseurl }}/contact">click here.</a></p>
                    </div>
                    <div class="col-sm-4">
                        <div class="responsive-screenshot">
                            <img class="img-responsive" src="img/website-optimization-services-seo-ppc.jpg" alt="Website optimization services for site speed, SEO, Local SEO">
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.responsive-preview -->


<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
            </div>
            <div class="row text-center">
                <div class="col-sm-4 col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">eCommerce</h4>
                    <p class="text-muted">We build eCommerce solutions backed by years of experience. Online shop development on Magento, Woocommerce. Shopify and Prestashop.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Applications</h4>
                    <p class="text-muted">Web applications built for businesses looking for add-ons to their websites. Data driven solutions developed and integrated for amazing user experience built on technologies - Ruby on Rails, PHP, C#, JavaScript, AngularJS.</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Site Speed</h4>
                    <p class="text-muted">Rank higher with website speed optimised. We build and configure website to run faster. Beat your competition and stay ahead.  </p>
                </div>
            </div>
        </div>
    </section>

          <!-- Process Section -->
        <section class="process-section section-padding">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-8 col-md-2">
                        <div class="process-box">
                            <i class="flaticon-cup7"></i>
                            <h3>Meeting</h3>
                        </div><!-- /.process-box -->
                    </div><!-- /.col-xs-2 -->

                    <div class="col-xs-12 col-sm-8 col-md-2">
                        <div class="process-box">
                            <i class="flaticon-light110"></i>
                            <h3>Planning</h3>
                        </div><!-- /.process-box -->
                    </div><!-- /.col-xs-2 -->

                    <div class="col-xs-12 col-sm-8 col-md-2">
                        <div class="process-box">
                            <i class="flaticon-paint104"></i>
                            <h3>Designing</h3>
                        </div><!-- /.process-box -->
                    </div><!-- /.col-xs-2 -->

                    <div class="col-xs-12 col-sm-8 col-md-2">
                        <div class="process-box">
                            <i class="flaticon-document171"></i>
                            <h3>Developing</h3>
                        </div><!-- /.process-box -->
                    </div><!-- /.col-xs-2 -->

                    <div class="col-xs-12 col-sm-8 col-md-2">
                        <div class="process-box">
                            <i class="flaticon-tool45"></i>
                            <h3>Testing</h3>
                        </div><!-- /.process-box -->
                    </div><!-- /.col-xs-2 -->

                    <div class="col-xs-12 col-sm-8 col-md-2">
                        <div class="process-box">
                            <i class="flaticon-wrapped4"></i>
                            <h3>Delivary</h3>
                        </div><!-- /.process-box -->
                    </div><!-- /.col-xs-2 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.process-section-->


        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="section-title">Our Awesome Works</h2>
                        <p class="sub-title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur <br>magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->


            <div class="portfolio-container text-center">
                <ul id="filter" class="list-inline">
                    <li class="active" data-group="web-dev">Web Development</li>
                    <li data-group="mobile-dev">Mobile Development</li>
                    <li data-group="ecommerce">eCommerce</li>
                    <li data-group="web-apps">Web Applications</li>
                    <li data-group="web-opt">Web Optimization</li>
                </ul>

                <ul id="grid">
                    <li class="portfolio-item" data-groups='["web-dev", "mobile-dev", "ecommerce"]'>
                       
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="img/rails-web-development.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                
                    </li>

                    
                    <li class="portfolio-item" data-groups='["web-apps", "web-opt", "mobile-apps"]'>
                        
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="img/shopify-web-development.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                        
                    </li>
                
                
                    <li class="portfolio-item" data-groups='["mobile-apps", "web-apps"]'>
                        
                        <div class="portfolio">
                           
                            <div class="tt-overlay"></div>
                            <img src="img/rails-web-development.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->   
                                      
                    </li>
               

                
                    <li class="portfolio-item" data-groups='["web-apps", "web-opt", "mobile-apps"]'>
                        
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="img/custom-web-development.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                        

                    </li>
              

                
                    <li class="portfolio-item" data-groups='["web-dev", "mobile-dev", "ecommerce"]'>
                        
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="img/magento-web-development.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                        
                    </li>
                
                
                    <li class="portfolio-item" data-groups='["mobile-apps", "web-apps"]'>
                        
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="img/magento-development.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                        
                    </li>

                
                
                    <li class="portfolio-item" data-groups='["web-apps", "web-opt", "mobile-apps"]'>
                        
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="assets/images/works/portfolio-7.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                       
                    </li><!-- /.portfolio-item --> 
                
                
                    <li class="portfolio-item" data-groups='["mobile-apps", "web-apps"]'>
                        
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="assets/images/works/portfolio-8.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                       
                    </li>
                

                
                    <li class="portfolio-item" data-groups='["web-apps", "web-opt", "mobile-apps"]'>
                        
                        <div class="portfolio">
                            
                            <div class="tt-overlay"></div>
                            <img src="assets/images/works/portfolio-1.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                        
                    </li>
                
                

                    <li class="portfolio-item" data-groups='["web-dev", "mobile-dev", "ecommerce"]'>
                      
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img src="assets/images/works/portfolio-2.jpg" alt="image"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                        
                    </li>
                </ul>
           

                <a href="#" class="btn btn-primary view-more">View More</a>

            </div><!-- portfolio-container -->
        </section><!-- /.portfolio-section -->


        <!-- Testimonial Section -->
        <section class="testimonial-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="assets/images/testimonial/client-1.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="assets/images/testimonial/client-2.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="assets/images/testimonial/client-3.jpg" alt="">
                                </li>
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner text-center">

                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2 testimonial-content">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                <span class="author">Kris Jegenes, <a href="#">Ventive</a></span>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2 testimonial-content">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                <span class="author">Kris Jegenes, <a href="#">Ventive</a></span>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2 testimonial-content">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                <span class="author">Kris Jegenes, <a href="#">Ventive</a></span>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.partner-section -->


        <!-- Partner Section -->
        <section class="partner-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="section-title">Our Happy Customers</h2>
                        <p class="sub-title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur <br>magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->

                <div class="row row-content text-center">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme partner-carousel">
                            <div class="item partner-item bwWrapper">
                                <img src="assets/images/partner/partner-1.jpg" alt="">
                            </div>
                            <div class="item partner-item bwWrapper">
                                <img src="assets/images/partner/partner-1.jpg" alt="">
                            </div>
                            <div class="item partner-item bwWrapper">
                                <img src="assets/images/partner/partner-1.jpg" alt="">
                            </div>
                            <div class="item partner-item bwWrapper">
                                <img src="assets/images/partner/partner-1.jpg" alt="">
                            </div>
                            <div class="item partner-item bwWrapper">
                                <img src="assets/images/partner/partner-1.jpg" alt="">
                            </div>
                            <div class="item partner-item bwWrapper">
                                <img src="assets/images/partner/partner-1.jpg" alt="">
                            </div>
                        </div>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.partner-section -->

        <!-- Case Study Section -->
        <section class="case-study-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 no-padding">
                        <div class="case-study-left">
                            <h1>Unknown Printer Took a galley of type</h1>
                            <p>Yes, strangely enough we've had a couple of people ask how they can contact us. So if you're interested in discussing project ..........</p>
                            <a href="#" class="btn btn-primary btn-lg">Learn more</a>
                        </div><!-- /.left-section -->
                    </div><!-- /.col-sm-6 -->
                    <div class="col-sm-6 no-padding">
                        <div class="case-study-right">
                            <h1>Unknown Printer Took a galley of type</h1>
                            <p>Yes, strangely enough we've had a couple of people ask how they can contact us. So if you're interested in discussing project ..........</p>
                            <a href="#" class="btn btn-primary btn-lg">Learn more</a>
                        </div><!-- /.left-section -->
                    </div><!-- /.col-sm-6 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.case-study-section -->

        <!-- map-section -->
        <section class="map-section">
            <div id="myMap"></div>
        </section><!-- /.map-section -->

        <!-- post -->

        <div class="posts-list"><h2 class="home-post">Web Development Blog</h2>
          {% for post in paginator.posts %}
          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">{{ post.title }}</h2>

              {% if post.subtitle %}
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
              {% endif %}
            </a>

            <p class="post-meta">
              Posted on {{ post.date | date: "%B %-d, %Y" }}
            </p>

            <div class="post-entry">
              {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
            </div>

           </article>
          {% endfor %}
        </div>

        {% if paginator.total_pages > 1 %}
        <ul class="pager main-pager">
          {% if paginator.previous_page %}
          <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}

        <!-- Contact Section -->
        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="section-title">Please contact us via 020 8776 1808 or write to us for:</h2>
                        <p class="sub-title">Web Application Development | Mobile Application Development | eCommerce Development | Wordpress Development | Magento Development | Drupal Development| Shopify Development</p>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <div class="row margin-top-50">
                    <div class="col-xs-12 text-center">
                        <form role="form" id="contactForm" method="POST">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                      <label class="sr-only" for="name">Name</label>
                                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                      <label class="sr-only" for="email">Email</label>
                                      <input type="email" name="email" class="form-control" id="email" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                      <label class="sr-only" for="subject">Project</label>
                                      <input type="text" name="subject" class="form-control" id="subject" placeholder="Your Project">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                              <label class="sr-only" for="message">Message</label>
                              <textarea name="message" class="form-control" id="message" rows="7" placeholder="Your Message"></textarea>
                            </div>

                            <button type="submit" value="Send" class = "tn btn-primary btn-lg">Submit</button>
                             <input type="text" name="_gotcha" style="display:none" />
                            <input type="hidden" name="_next" value="//newaspectmedia.com" />
                        </form>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row --
            </div><!-- /.container -->
        </section><!-- /.contact-section -->
