        <!-- Call to Action -->
        <section class="cta-two-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <h2>Hire the best developers!</h2>
                        <p>Call us or write to us for your web or mobile development needs</p>
                    </div>
                    <div class="col-sm-3">
                        <a href="#contact" class="page-scroll btn btn-primary">Hire Us</a>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.cta-two-section -->