<footer class="footer-section text-center">
  <div class="container appx-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <a class="page-scroll backToTop" href="#page-top"><i class="fa fa-angle-up"></i></a>
      </div>
     </div>
        <div class="col-md-4"></div>
         <div class="col-xs-12">
        <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  {% if page.layout == 'default' %}
                        <a class="page-scroll" href="#services">Services</a>
                        {% else %}
                        <a class="page-scroll" href="{{ '#services' | prepend: '/' | prepend: site.url }}">Services</a>
                        {% endif %}
                </li>
                <li>
                    <a href="{{ 'cookies' | prepend: '/' | prepend: site.url }}">Cookies</a>
                </li>
                <li>
                    <a href="{{ 'terms' | prepend: '/' | prepend: site.url }}">Terms</a>
                </li>
                                <li>
                  {% if page.layout == 'default' %}
                        <a class="page-scroll" href="#contact">Contact</a>
                        {% else %}
                        <a class="page-scroll" href="{{ '#contact' | prepend: '/' | prepend: site.url }}">Contact</a>
                        {% endif %}
                </li>
            </ul>
          </div>
      <div class="col-md-4">
  
      <ul class="list-inline text-center footer-links">
              {% if site.author.facebook and site.footer-links-active.facebook %}
              <li>
                <a href="https://www.facebook.com/{{ site.author.facebook }}" title="Facebook">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
          {% endif %}
          {% if site.author.github and site.footer-links-active.github %}
          <li>
            <a href="https://github.com/{{ site.author.github }}" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
      {% if site.author.twitter and site.footer-links-active.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
      {% if site.author.email and site.footer-links-active.email %}
          <li>
            <a href="mailto:{{ site.author.email }}" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
      {% if site.author.linkedin and site.footer-links-active.linkedin %}
          <li>
            <a href="https://linkedin.com/{{ site.author.linkedin }}" title="LinkedIn">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
      {% if site.author.stackoverflow and site.footer-links-active.stackoverflow %}
          <li>
            <a href="https://stackoverflow.com/users/{{ site.author.stackoverflow }}" title="StackOverflow">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
      {% if site.footer-links-active.rss %}
      <li>
      <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      </li>   
          {% endif %}     
        </ul>
      </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
      <div class="col-md-4">
      <div class="copyright">
          {{ site.time | date: '%Y' }}
          {% if site.url-pretty %}
          &nbsp;&bull;&nbsp;
          <a href="{{ site.url }}">{{ site.url-pretty }}</a>
          {% endif %}
        </div>
      </div>
      </div>
    </div>
      <script type="text/javascript">
                var contactform = document.getElementById('contactform');contactform.setAttribute('action','//formspree.io/' + 'newaspectmedia' + '@' + 'gmail' + '.' + 'com');
      </script>
      {% include js.html %}
      {% include google_analytics.html %}
</footer>
