<footer class="footer-section text-center">
            <div class="container">
                <a class="page-scroll backToTop" href="#page-top"><i class="fa fa-angle-up"></i></a>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-logo">
                            <img src="assets/images/footer-logo.png" alt="">
                            <p>This theme is proudly designed and developed by <span>John Doe</span></p>
                        </div>

                        <div class="social-icon clearfix">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>

                        <div class="copyright">
                            <p>&copy; Copright 2016 NewAspectMedia - All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
  <script type="text/javascript">
            var contactform = document.getElementById('contactform');contactform.setAttribute('action','//formspree.io/' + 'newaspectmedia' + '@' + 'gmail' + '.' + 'com');
  </script>
  {% include js.html %}
  {% include google_analytics.html %}
</footer>
