
 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.BlackAndWhite.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.countTo.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.inview.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.shuffle.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/smoothscroll.min.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>