<!-- Portfolio Section -->
        <section id="portfolio" class="portfolio-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="section-title">Our Awesome Works</h2>
                        <p class="sub-title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur <br>magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->


            <div class="portfolio-container text-center">
                <ul id="filter" class="list-inline">
                    <li class="active" data-group="all">All</li>
                    <li data-group="design">Design</li>
                    <li data-group="web">Web</li>
                    <li data-group="interface">Interface</li>
                    <li data-group="identety">Identity</li>
                </ul>

                <ul id="grid">
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "identety", "interface"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/custom-web-development.jpg" alt="Bespoke web development in PHP, Ruby, c#, HTML5, jQuery, AngularJS"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li>
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "identety", "web"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/rails-web-development.jpg" alt="Ruby on rails web development services"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li>
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "interface"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/shopify-web-development.jpg" alt="Shopify web development services"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->                   
                    </li>
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "identety", "design"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/magento-web-development.jpg" alt="Magento web development services"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->

                    </li>
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "identety", "design"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/magento-development.jpg" alt="eCommerce web development for Magento, Shopify, Woocommerce, Prestashop"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li>
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "identety", "design"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/booking-mobile-apps.jpg" alt="iOS mobile application development"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li>
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "identety", "web"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/mobile-apps.jpg" alt="Android mobile application development"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li><!-- /.portfolio-item --> 
                    <li class="col-sm-3 portfolio-item" data-groups='["all", "design"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/retails-mobile-application.jpg" alt="Retail mobile application development"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li>

                    <li class="col-sm-3 portfolio-item" data-groups='["all", "identety", "design"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/ecommerce-mobile-apps.jpg" alt="eCommerce mobile application development"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li>

                    <li class="col-sm-3 portfolio-item" data-groups='["all", "design"]'>
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <img class="img-responsive" src="img/hotel-mobile-apps.jpg" alt="Hotel booking system mobile application development"> 
                            <div class="portfolio-info">
                                <h3 class="project-title">Portfolio Title</h3>
                                <div class="links">
                                    <a href="single-project.html" class="btn btn-primary">View full Project</a>
                                </div><!-- /.links -->
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </li>
                </ul>
            </div><!-- portfolio-container -->
        </section><!-- /.portfolio-section -->